<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <h1>Удалить пользователя:</h1>
</header>
<section>
    <form action="#"
          th:action="@{/user/delete}"
          method="POST"
          name="delete">
        <table>
            <tr>
                <td><label for="name">Имя пользователя</label></td>
                <td class="input"><input id="name" type="text" required name="name" th:name="name"></td>
            </tr>
            <tr>
                <td><input class="calc" type=submit value="Удалить пользователя"></td>
            </tr>
        </table>
    </form>
</section>
<div style="margin-top: 5%">
    <a href="addUser.html">Добавить пользователя</a>
    <a href="allUsers.html">Показать всех пользователь</a>
    <a href="changeUser.html">Изменить пользователя</a>
</div>
</body>
</html>